/* font-family: 'Manrope', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Black.woff) format("woff");
  src: url(../assets/fonts/Nunito-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Bold.woff) format("woff");
  src: url(../assets/fonts/Nunito-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-BoldItalic.woff) format("woff");
  src: url(../assets/fonts/Nunito-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-ExtraBold.woff) format("woff");
  src: url(../assets/fonts/Nunito-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-ExtraBoldItalic.woff) format("woff");
  src: url(../assets/fonts/Nunito-ExtraBoldItalic.woff2) format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Regular.woff) format("woff");
  src: url(../assets/fonts/Nunito-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-SemiBold.woff) format("woff");
  src: url(../assets/fonts/Nunito-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url(../assets/fonts/Mulish-Black.woff) format("woff");
  src: url(../assets/fonts/Mulish-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url(../assets/fonts/Mulish-ExtraBold.woff) format("woff");
  src: url(../assets/fonts/Mulish-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url(../assets/fonts/Mulish-SemiBold.woff) format("woff");
  src: url(../assets/fonts/Mulish-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope-Bold.woff) format("woff");
  src: url(../assets/fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope-Medium.woff) format("woff");
  src: url(../assets/fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope-SemiBold.woff) format("woff");
  src: url(../assets/fonts/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Black.woff) format("woff");
  src: url(../assets/fonts/Roboto-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.woff) format("woff");
  src: url(../assets/fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.woff) format("woff");
  src: url(../assets/fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  min-height: 100%;
  overflow: overlay;
}

body::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #cdffff80;
  border-radius: 0.4rem;
  border: 0.1rem solid #cdffff;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #9e3cff;
}

body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #0d1288;
  background: linear-gradient(
      180deg,
      #5400dc 2.65%,
      #9e3cff 11.11%,
      #79cfff 20.31%,
      #cdffff 32.29%,
      #ffffff 39.24%,
      #cdffff 50%,
      #79cfff 59.19%,
      #9e3cff 69.06%,
      #5400dc 86.98%
    )
    no-repeat;
}

.wrapper,
.wrapper-prod {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper,
.wrapper-prod {
  position: relative;
  overflow: hidden;
}

.wrapper-prod {
  background: linear-gradient(
    180deg,
    #5400dc 2.65%,
    #9e3cff 39.58%,
    #9e3cff 54.69%,
    #5400dc 94.97%
  );
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container,
.container__attention,
.container__mobile,
.promo__container,
.about__container,
.container__request,
.products__container,
.inner {
  max-width: calc(333px + (1200 - 333) * ((100vw - 375px) / (1440 - 375)));
  margin: 0 auto;
  padding: 0 15px;
}

.container__mobile {
  padding: 0;
}

@media (min-width: 1441px) {
  .container,
  .container__attention,
  .promo__container,
  .about__container,
  .products__container {
    max-width: 1200px;
  }
}

@media (min-width: 1300px) {
  .container__request {
    max-width: 1200px;
  }
}

@media (max-width: 1165px) {
  .container__request {
    padding: 0;
  }
}

@media (max-width: 485px) {
  .products__container {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .container,
  .promo__container,
  .about__container {
    padding: 0 10px;
  }
}

.inner {
  display: flex;
  justify-content: center;
}

iframe {
  margin: 50px auto;
}

.header__inner {
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.header__logo {
  padding: 10px 35px 10px 0;
  align-self: self-start;
}

.header__menu,
.header__menu-img {
  cursor: pointer;
  align-self: self-start;
}

.header__menu-img {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}

.header__mobile {
  position: absolute;
  height: auto;
  width: 325px;
  top: 150px;
  right: 0;
  z-index: 99;
  padding: 50px;
  background-color: white;
  background-image: url(../assets/images/menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom bottom;
  border-radius: 15px;
  box-shadow: 2px 2px 62px rgba(255, 255, 255, 0.15);
  transition: all 0.5s;
  transform: translateX(500%);
}

.header__mobile.action {
  /* top: 0; */
  transform: translateX(0);
}

.header__mobile-menu {
  position: relative;
}

.menu__close {
  position: absolute;
  right: -5px;
  top: 31px;
  width: 50px;
  cursor: pointer;
}

.header__mobile-list {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.header__mobile-link {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0d1288;
}

.request__inner {
  padding: 0;
  position: relative;
  margin-bottom: 100px;
}

.request__title {
  padding-bottom: 45px;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 39px;
  line-height: 53px;
  text-transform: uppercase;
  color: #0d1288;
}

@media (max-width: 1088px) {
  .request__title {
    text-align: center;
  }
}

@media (max-width: 788px) {
  .request__title {
    font-size: 28px;
    line-height: 38px;
  }
}

.request__title::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaves.png);
  width: 823px;
  height: 278px;
  top: -200px;
  right: -190px;
}

.request__info {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

@media (max-width: 1088px) {
  .request__info {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0 150px;
  }
}

.request__column {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.request__column-last {
  align-items: end;
}

@media (max-width: 1088px) {
  .request__column-last {
    align-items: start;
  }
}

.request__column-first p:nth-child(2) {
  position: relative;
  padding-left: 60px;
}

@media (max-width: 1130px) {
  .request__column-first p:nth-child(2) {
    padding-left: 0;
  }
}

.request__column-last p:nth-child(1) {
  position: relative;
  padding-left: 30px;
}

@media (max-width: 1130px) {
  .request__column-last p:nth-child(1) {
    padding-left: 0;
  }
}

.request__column-first p:nth-child(2)::after,
.request__column-last p:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 85px;
  height: 102px;
  background-image: url(../assets/images/request-leaf.png);
}

.request__column-first p:nth-child(2)::before,
.request__column-last p:nth-child(1)::before {
  display: none;
}

.request__column-first p:nth-child(2)::after {
  bottom: 80px;
  left: -50px;
}

.request__column-last p:nth-child(1)::after {
  bottom: 20px;
  left: -80px;
}

@media (max-width: 1130px) {
  .request__column-first p:nth-child(2)::after,
  .request__column-last p:nth-child(1)::after {
    display: none;
  }
}

.request__column-first p:nth-child(1) {
  width: 450px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.request__column-last p:nth-child(2) {
  position: relative;
  padding: 30px 15px 80px 30px;
  background: #ded3fc;
  border-radius: 27px;
  font-family: "Nunito";
}

.request__column-last p {
  width: 440px;
}

@media (max-width: 1088px) {
  .request__column,
  .request__column p,
  .request__column-first p:nth-child(1) {
    width: 95%;
  }
}

@media (max-width: 990px) {
  .request__info {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0 50px;
  }

  .request__column-last p {
    width: 100%;
  }
}

.request__btn {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 264px;
  height: 63px;
  color: white;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  background: #4a2cff;
  border: 1px solid #4a2cff;
  box-shadow: 0px 4px 19px 4px rgba(255, 255, 255, 0.36);
  border-radius: 49px;
}

@media (max-width: 1115px) {
  .request__btn {
    right: 0;
  }
}

@media (max-width: 1088px) {
  .request__btn {
    right: 30%;
  }
}

.request__column-last p:nth-child(2)::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/request-avatar.png);
  width: 124px;
  height: 124px;
  left: -45px;
  bottom: -55px;
}

.request__column-last p:nth-child(2)::after {
  display: none;
}

@media (min-width: 535px) and (max-width: 750px) {
  .request__column-last p:nth-child(2) {
    padding-right: 91px;
  }
}

@media (max-width: 750px) {
  .request {
    margin-top: 50px;
  }

  .request__title::before {
    display: none;
  }

  .request__title::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../assets/images/leafs-mobile.png);
    background-repeat: no-repeat;
    width: auto;
    height: 190.05px;
    top: -190px;
    right: 0;
    left: 0;
  }

  .request__column-first p:nth-child(2)::before,
  .request__column-last p:nth-child(1)::before {
    display: block;
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    left: -15px;
    background-image: url(../assets/images/point-mobile.png);
    background-repeat: no-repeat;
  }

  .request__column-first p:nth-child(2)::before {
    top: -40%;
  }
  .request__column-last p:nth-child(1)::before {
    top: -80%;
  }

  .request__column {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  .request__btn {
    right: 25%;
  }

  .request__column-first p:nth-child(1) {
    font-size: 23px;
    line-height: 24px;
  }

  .request__column-last p:nth-child(2)::before {
    display: none;
  }
  .request__column-last p:nth-child(2)::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../assets/images/avatar-mobile.png);
    width: 89px;
    height: 89px;
    right: 5%;
    top: -40px;
  }
}

@media (max-width: 590px) {
  .request__btn {
    left: 0;
    right: 0;
    width: auto;
    margin: 0 25%;
    padding: 0 10px;
  }
}

@media (max-width: 426px) {
  .request__info {
    margin: 0;
  }

  .request__btn {
    margin: 0 15%;
  }

  .request__column-last p:nth-child(2) {
    padding-bottom: 60px;
  }

  .request__column,
  .request__column p,
  .request__column-first p:nth-child(1) {
    width: 99%;
  }
}

.reviews {
  margin-bottom: 190px;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviews__inner::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaf-reviews.png);
  width: 166px;
  height: 204px;
  bottom: -120px;
  left: -70px;
}

.reviews__title {
  margin-bottom: 70px;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 39px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

.swiper {
  width: 100%;
  height: 360px;
}



.reviews__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 37px 4px 40px 22px;
  border-radius: 50px 50px 50px 0px;
  width: 100%;
  height: auto;
  background: #ffffff;
}

@media (max-width: 1220px) {
  .reviews__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__text-b {
  line-height: normal;
  font-size: 15px;
}

.reviews__text p:nth-child(2) {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 25px;
  line-height: 33px;
  color: #0d1288;
}

.reviews__author {
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.reviews__slider {
  position: relative;
  padding: 0 140px;
}

.reviews__btn {
  position: absolute;
  cursor: pointer;
  bottom: 40%;
}

.reviews__nav {
  display: none;
}

.swiper-button-left {
  left: -95px;
}

.swiper-button-right {
  right: -135px;
}

.reviews__author:after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/reviews-leaf.svg);
  width: 208px;
  height: 204.13px;
  bottom: -110px;
  right: 50px;
}

.swiper-pagination {
  display: none;
}

@media (max-width: 1384px) {
  .reviews__slider {
    padding: 0 110px;
  }

  .swiper-button-right {
    right: -105px;
  }

  .swiper-button-left {
    left: -58px;
  }
}

@media (max-width: 1269px) {
  .reviews__slider {
    padding: 0 95px;
  }

  .swiper-button-right {
    right: -95px;
  }

  .swiper-button-left {
    left: -42px;
  }
}

@media (max-width: 1014px) {
  .reviews__slider {
    padding: 0 72px 72px 72px;
  }

  .swiper-button-right {
    display: none;
  }

  .swiper-button-left {
    display: none;
  }

  .reviews__nav {
    display: block;
    bottom: -70px;
    position: absolute;
  }

  .mob-arr__left {
    left: 0;
  }

  .mob-arr__right {
    right: 0;
  }

  .reviews__inner:after {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

@media (max-width: 967px) {
  .reviews__slider {
    padding: 0 42px 72px 42px;
  }
}

@media (max-width: 629px) {
  .swiper {
    height: 410px;
  }

  .reviews__text {
    height: 270px;
  }
}

@media (max-width: 534px) {
  .swiper {
    height: 460px;
  }

  .reviews__text {
    height: 320px;
  }
}

@media (max-width: 506px) {
  .container__inner {
    padding: 0;
  }

  .reviews__title {
    margin-bottom: 15px;
    text-align: center;
  }
  .swiper {
    height: 510px;
  }
  
  .reviews__text {
    height: 370px;
  }
  .reviews__author:after {
    width: 209px;
    height: 178.75px;
  }

  .reviews__slider {
    padding: 0 30px 71px 30px;
  }
}

@media (max-width: 394px) {
  
  .swiper {
    height: 559px;
  }

  .reviews__text {
    height: 420px;
  }

  .reviews__slider {
    padding: 0 30px 70px 30px;
  }

  
}

.footer {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #d9b3dc;
}

.footer__logo {
  padding-right: 65px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding: 15px 15px 65px 15px;
}

.footer__main {
  display: flex;
  gap: 100px;
  flex: 1;
  justify-content: space-between;
}

@media (max-width: 1405px) {
  .footer__inner {
    gap: 75px;
  }

  .footer__main {
    gap: 70px;
  }
}

@media (max-width: 1181px) {
  .footer__inner {
    gap: 50px;
  }

  .footer__main {
    gap: 50px;
  }
}

@media (max-width: 1094px) {
  .footer__logo {
    padding-right: 15px;
  }
}

@media (max-width: 1031px) {
  .footer__inner {
    gap: 15px;
  }
}

@media (max-width: 944px) {
  .footer__main {
    gap: 15px;
  }
}

@media (max-width: 944px) {
  .footer__inner {
    gap: 5px;
  }
}

@media (max-width: 876px) {
  .footer__inner {
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 350px;
    align-items: start;
    margin: 0 auto;
  }

  .footer__copy {
    width: 100%;
    flex-direction: column;
    align-items: end;
  }
}

@media (max-width: 614px) {
  .footer__inner {
    width: auto;
    gap: 15px;
    font-size: 11px;
    line-height: 15px;
    padding: 0;
    margin: 0 0 25px 0;
  }

  .footer__main {
    gap: 15px;
    width: 100%;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 19px;
  width: 210px;
}

.footer__copy {
  display: flex;
  align-items: end;
}

.promo__container,
.about__container {
  position: relative;
}

.promo__inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 120px;
  gap: 30px;
}

.promo__content {
  color: #fffefe;
  text-align: left;
  letter-spacing: 0em;
}

.promo__title {
  color: #ffffff;
  font-family: "Nunito";
  font-weight: 900;
  font-size: 51px;
  line-height: 47px;
  margin-bottom: 25px;
}

.promo__subtitle {
  font-family: Nunito;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 27px;
}

.promo__text,
.first,
.second {
  width: 455px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 30px;
}

.promo__btn {
  height: 63px;
  width: 264px;
  border-radius: 49px;
  background: #4a2cff;
  border: #4a2cff;
  box-shadow: 0px 4px 19px 4px rgba(255, 255, 255, 0.4);
  margin: 25px 0;
}

.promo__btn:hover {
  cursor: pointer;
  box-shadow: 2px 8px 38px 8px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.promo__btn-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.promo__leafs {
  position: relative;
}

.leaf16 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/pic-16.png);
  width: 170px;
  height: 200px;
  top: -70px;
  right: 180px;
}

.leaf68 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/68.png);
  width: 150px;
  height: 120px;
  top: 80px;
  right: 320px;
}

.leaf65 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/65.png);
  width: 100px;
  height: 125px;
  top: 300px;
  right: 300px;
}

.leaf12 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/pic-12.png);
  width: 290px;
  height: 180px;
  top: 400px;
  right: 180px;
}

.promo__img {
  position: relative;
}

.promo-jar {
  position: absolute;
  content: "";
  background-image: url(../assets/images/promo-jar.png);
  width: 180px;
  height: 288px;
  transform: rotate(4.65deg);
  left: -280px;
  top: -20px;
}

.promo-flower {
  position: absolute;
  content: "";
  background-image: url(../assets/images/promo-flower.png);
  width: 870px;
  height: 870px;
  top: -150px;
  right: -200px;
}

@media (max-width: 1200px) {
  .leaf16 {
    top: -70px;
    right: 10px;
  }

  .leaf68 {
    top: 90px;
    right: 120px;
  }

  .leaf65 {
    top: 280px;
    right: 90px;
  }

  .leaf12 {
    top: 420px;
    right: 50px;
  }

  .promo-flower {
    background-image: url(../assets/images/promo-flower-s.png);
    width: 320px;
    height: 380px;
    top: 40px;
    right: -50px;
  }

  .promo-jar {
    background-image: url(../assets/images/promo-jar-s.png);
    width: 145px;
    height: 170px;
    top: 70px;
    left: -220px;
    transform: rotate(-25deg);
  }
}

@media (max-width: 770px) {
  .promo__inner {
    margin-bottom: 50px;
  }

  .second,
  .leaf12 {
    display: none;
  }

  .promo-flower {
    top: 300px;
    right: -10px;
  }

  .promo-jar {
    top: 320px;
    left: -230px;
  }

  .leaf16 {
    top: -50px;
    right: -80px;
  }

  .leaf68 {
    top: 100px;
    right: 40px;
  }

  .leaf65 {
    top: 250px;
    right: 70px;
  }

  .leaf63 {
    position: absolute;
    content: "";
    background-image: url(../assets/images/6-3.png);
    width: 60px;
    height: 55px;
    top: 470px;
    right: 500px;
  }

  .leaf62 {
    position: absolute;
    content: "";
    background-image: url(../assets/images/6-2.png);
    width: 72px;
    height: 80px;
    top: 500px;
    right: 300px;
  }
}

@media (max-width: 670px) {
  .promo-jar {
    display: none;
  }
}

@media (max-width: 470px) {
  .promo__inner {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 12px;
  }

  .promo__subtitle {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 25px;
  }

  .first {
    max-width: 300px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .promo__btn {
    display: flex;
    margin: 15px auto;
  }

  .promo__btn-text {
    display: flex;
    margin: auto;
  }

  .promo-flower {
    top: -215px;
    right: -30px;
  }

  .leaf16,
  .leaf68,
  .leaf65 {
    display: none;
  }

  .leaf63 {
    top: 0px;
    right: 350px;
  }

  .leaf62 {
    top: 80px;
    right: 300px;
  }
}

@media (max-width: 345px) {
  .promo__subtitle {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .first {
    font-weight: 500;
  }
}

.about__title {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 39px;
  line-height: 53px;
  text-transform: uppercase;
  color: #0d1288;
  margin-bottom: 46px;
}

.about__inner {
  display: flex;
  padding-top: 0;
  padding-bottom: 136px;
  gap: 70px;
}

.about__content,
.about__count {
  width: 50%;
}

.about__points {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 52px 32px;
  align-items: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  color: #0d1288;
}

.about__points-img-Small {
  display: none;
}

.about__count-info {
  width: 100%;
}

.info {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 53px;
  color: #647bff;
}

.info:first-child {
  margin-top: -20px;
}

.info:last-child {
  text-align: end;
  margin-top: 10px;
}

.about__count-sum {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 215px;
  line-height: 90%;
  background: linear-gradient(165.95deg, #34aaff 38.97%, #cf10ff 102.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 4px 1px 18px rgba(255, 255, 255, 0.16);
}

.about__img {
  position: relative;
}

.leaf61 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaf61.png);
  width: 100px;
  height: 100px;
  left: 90px;
  bottom: 5px;
}

.ball53 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/ball53.png);
  width: 33px;
  height: 33px;
  left: 290px;
  bottom: 130px;
}

.ball51 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/ball51.png);
  width: 54px;
  height: 55px;
  left: 415px;
  bottom: 35px;
  z-index: 2;
}

.fl72 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/fl72.png);
  width: 117.41px;
  height: 160px;
  left: 405px;
  bottom: 60px;
  z-index: 1;
}

.about__application {
  width: 100%;
  height: 50px;
  margin: 30px auto;
  background: #ded3fc;
  border: 1px solid #ded3fc;
  border-radius: 29px;
}

.about__application-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 132.7%;
  color: #4a2cff;
}

@media (max-width: 1200px) {
  .about__inner {
    gap: 40px;
  }
  .about__points {
    grid-gap: 42px 22px;
    font-size: 28px;
  }
  .leaf61 {
    left: 50px;
    bottom: -10px;
  }
  .ball53 {
    left: 250px;
  }
  .ball51 {
    left: 380px;
  }
  .fl72 {
    left: 400px;
  }
}

@media (max-width: 1030px) {
  .about__title {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 40px;
  }
  .about__points {
    grid-gap: 38px 20px;
    font-size: 26px;
  }
  .about__application-text {
    font-size: 24px;
  }
  .leaf61 {
    left: 20px;
    bottom: -10px;
  }
  .ball53 {
    left: 220px;
  }
  .ball51 {
    left: 345px;
  }
  .fl72 {
    left: 360px;
  }
}

@media (max-width: 940px) {
  .info {
    font-size: 36px;
  }
  .about__points {
    font-size: 22px;
  }
  .about__count-sum {
    font-size: 200px;
  }
  .about__application-text {
    font-size: 22px;
  }
  .fl72,
  .ball51,
  .leaf61 {
    display: none;
  }
  .fl73 {
    position: absolute;
    content: "";
    background-image: url(../assets/images/fl73.png);
    width: 80px;
    height: 120px;
    left: 340px;
    bottom: 60px;
    z-index: 1;
  }
  .ball54 {
    position: absolute;
    content: "";
    background-image: url(../assets/images/ball54.png);
    width: 40px;
    height: 40px;
    left: 330px;
    bottom: 40px;
    z-index: 2;
  }
  .leaf62 {
    position: absolute;
    content: "";
    background-image: url(../assets/images/leaf62.png);
    width: 60px;
    height: 60px;
    left: 40px;
    bottom: 5px;
  }
}

@media (max-width: 854px) {
  .leaf62 {
    left: 30px;
    top: -70px;
  }
  .ball53 {
    left: 200px;
  }
  .ball54 {
    left: 300px;
  }
  .fl73 {
    left: 310px;
  }
  .about__application-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .about__inner {
    flex-direction: column;
  }
  .about__content,
  .about__count {
    width: 100%;
  }
  .about__count-info {
    margin-top: 50px;
  }
  .leaf62 {
    left: 160px;
  }
  .ball53 {
    left: 320px;
  }
  .ball54 {
    left: 450px;
  }
  .fl73 {
    left: 460px;
  }
}

@media (max-width: 596px) {
  .about__points-img-Big {
    display: none;
  }
  .about__points-img-Small {
    display: block;
  }
  .about__count-sum {
    font-size: 165px;
  }
  .leaf62 {
    left: 100px;
  }
  .ball53 {
    left: 280px;
  }
  .ball54 {
    left: 380px;
  }
  .fl73 {
    left: 380px;
  }
}

@media (max-width: 510px) {
  .about__title {
    text-align: center;
    font-size: 34px;
    line-height: 38px;
    margin: 30px auto;
  }
  .about__points {
    font-size: 20px;
  }
  .leaf62 {
    left: 80px;
  }
  .ball53 {
    left: 220px;
    bottom: 90px;
  }
  .ball54 {
    left: 330px;
  }
  .fl73 {
    left: 340px;
  }
}

@media (max-width: 440px) {
  .about__title {
    font-size: 28px;
    line-height: 32px;
    margin: 30px auto;
  }
  .about__count-sum {
    text-align: left;
  }
  .leaf62 {
    left: 30px;
  }
  .ball53 {
    left: 160px;
  }
  .ball54 {
    left: 270px;
  }
  .fl73 {
    left: 280px;
  }
  .about__application-text {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .about__count-sum {
    font-size: 150px;
  }
  .leaf62 {
    left: 20px;
  }
  .ball53 {
    left: 140px;
  }
  .ball54 {
    left: 240px;
  }
  .fl73 {
    left: 230px;
    bottom: 50px;
    transform: rotate(-30deg);
  }
}

@media (max-width: 320px) {
  .about__title {
    font-size: 26px;
    line-height: 36px;
  }
  .leaf62 {
    left: 20px;
  }
  .ball53 {
    left: 140px;
  }
  .fl73 {
    left: 210px;
  }
}

.details {
  margin-bottom: 180px;
}

.details__inner {
  position: relative;
  display: flex;
  margin-bottom: 140px;
  justify-content: space-between;
}

.details__left {
  width: 51%;
  max-width: 546px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 27px;
  padding: 35px 120px 0px 40px;
}

.details__right {
  width: 47%;
  max-width: 546px;
  height: 302px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 27px;
  padding: 30px 30px 0px 50px;
}

.details__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 53px;
  color: #0d1288;
  margin-bottom: 20px;
}

.details__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #0d1288;
}

.details__btn {
  width: 264px;
  height: 63px;
  background: #9100b5;
  box-shadow: 0px 4px 19px 4px rgba(255, 255, 255, 0.36);
  border-radius: 49px;
  border: 1px solid #9100b5;
  margin-top: 20px;
  margin-left: 180px;
  margin-bottom: -32px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  z-index: 99;
}

.details__btn:hover,
.my-btn:hover {
  cursor: pointer;
  box-shadow: 2px 8px 38px 8px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.details__leafs {
  position: relative;
}
.leaf13 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/pic-13.png);
  width: 200px;
  height: 120px;
  right: 70px;
}
.leaf66 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/66.png);
  width: 110px;
  height: 132px;
  right: 120px;
  bottom: 49px;
}
.leaf14 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/pic-14.png);
  width: 95px;
  height: 155px;
  left: 430px;
}
@media (max-width: 1366px) {
  .leaf14 {
    left: 375px;
  }
}
.leaf18 {
  position: absolute;
  content: "";
  background-image: url(../assets/images/pic-18.png);
  width: 200px;
  height: 170px;
  top: 270px;
}

@media (max-width: 1200px) {
  .details__left {
    padding-top: 20px;
    padding-right: 80px;
  }
  .details__right {
    padding-top: 20px;
  }
  .details__title {
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 10px;
  }
  .details__text {
    line-height: 26px;
  }
  .leaf14 {
    top: 10px;
    left: 350px;
  }
  .leaf18 {
    top: 250px;
  }
}

@media (max-width: 1030px) {
  .details__inner {
    flex-direction: column;
  }
  .details__left {
    width: 70%;
    padding-right: 100px;
    margin-bottom: 50px;
  }
  .details__right {
    width: 60%;
    margin-right: 0;
    margin-left: auto;
  }
  .leaf66 {
    right: 280px;
    bottom: 80px;
  }
  .leaf13 {
    right: 260px;
    bottom: 230px;
  }
  .leaf14 {
    left: 650px;
  }
  .leaf18 {
    top: 10px;
  }
}

@media (max-width: 890px) {
  .details__inner {
    margin-bottom: 40px;
  }
  .details__left,
  .details__right {
    width: 90%;
    margin: 40px auto;
  }
  .details__btn {
    display: block;
    margin: 20px auto -30px;
  }
  .leaf13 {
    right: 60px;
  }
  .leaf66 {
    right: 80px;
  }
  .leaf14 {
    left: 450px;
  }
  .leaf18 {
    top: 300px;
  }
}

@media (max-width: 694px) {
  .details__left,
  .details__right {
    padding: 20px;
  }
  .leaf14 {
    left: 350px;
  }
}

@media (max-width: 566px) {
  .details__title {
    font-size: 30px;
    line-height: 38px;
  }
  .details__text {
    font-size: 20px;
    line-height: 26px;
  }
  .leaf13 {
    right: -30px;
    bottom: 250px;
  }
  .leaf66 {
    right: 20px;
  }
  .leaf14 {
    left: 270px;
  }
}

@media (max-width: 425px) {
  .details {
    margin-bottom: 50px;
  }
  .details__left,
  .details__right {
    width: 100%;
    padding: 15px;
  }
  .details__title {
    font-size: 26px;
    line-height: 33px;
  }
  .details__text {
    font-size: 18px;
    line-height: 26px;
  }

  .leaf18 {
    display: none;
  }
}

@media (max-width: 375px) {
  .leaf14 {
    left: 200px;
  }
}

@media (max-width: 320px) {
  .details__left,
  .details__right {
    padding: 10px;
  }
  .details__title {
    font-size: 24px;
    line-height: 33px;
  }
  .details__text {
    font-size: 18px;
    line-height: 24px;
  }
}

.attention__inner {
  display: flex;
  position: relative;
  justify-content: end;
  margin-bottom: 200px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1220px) and (max-width: 1419px) {
  .container__attention {
    max-width: calc(92vw + (98 - 92) * ((100vw - 1205px) / (1419 - 1205)));
  }

  .attention__inner {
    max-width: 100%;
  }
}

@media (max-width: 1291px) {
  .attention__inner::after {
    display: none;
  }
}

.attention__info {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  padding: 25px;
  width: 822px;
}

@media (max-width: 1219px) {
  .attention__info {
    width: 60%;
  }
}

@media (max-width: 999px) {
  .attention__inner::after,
  .attention__inner::before {
    display: none;
  }

  .attention__info {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .attention__info::after {
    position: absolute;
    content: "";
    background-image: url(../assets/images/attention-low.png);
    background-repeat: no-repeat;
    bottom: -300px;
    width: 490px;
    height: 500px;
  }
}

@media (max-width: 547px) {
  .attention {
    margin-bottom: 250px;
  }

  .attention__info {
    padding: 0 0 25px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.89px;
  }

  .attention__info::after {
    bottom: -350px;
  }
}

@media (max-width: 425px) {
  .attention {
    margin-bottom: 270px;
  }

  .attention__info::after {
    width: 360px;
    right: 0;
    left: -25px;
  }
}

@media (max-width: 390px) {
  .attention {
    margin-bottom: 0;
  }

  .attention__info {
    padding: 30px 13px 75px 13px;
    background-image: url(../assets/images/frame-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .attention__info::after {
    bottom: -277px;
  }
}

.text-link {
  color: #ffffff;
  text-decoration: underline;
}

.attention__inner::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/pic2.png);
  width: 440px;
  height: 460px;
  top: -87px;
  left: -148px;
}

.attention__inner::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/frame.png);
  width: 1069px;
  height: 269px;
  top: 5px;
  right: 0;
}

.products__container {
  position: relative;
  color: #ffffff;
}

.products-main__inner,
.products-main__text {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.products-main__inner {
  gap: 30px;
  width: 535px;
  padding-top: 75px;
  padding-bottom: 170px;
}

@media (max-width: 1230px) {
  .products-main__inner {
    margin: 0 auto;
    padding-bottom: 270px;
  }

  .products-main__inner::before {
    position: absolute;
    content: "";
    background-image: url(../assets/images/products-bg__adaptive.png);
    width: 308px;
    height: 305.55px;
    bottom: -35px;
    /* right: 400px; */
    right: calc(43px + (400 - 43) * ((100vw - 375px) / (1230 - 375)));
  }

  .products-main__inner::after {
    display: none;
  }

  .milk::after {
    display: none;
  }
}

@media (max-width: 390px) {
  .products-main__inner {
    padding-top: 0;
  }
}

.products-main__inner::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/products-bg.png);
  width: 735px;
  height: 750px;
  right: 0;
  top: -50px;
}

@media (max-width: 1365px) {
  .products-main__inner::after {
    right: -100px;
  }
}

.products-main__title {
  font-family: "Nunito";
  font-weight: 900;
  font-size: 51px;
  line-height: 58px;
}

@media (max-width: 636px) {
  .products-main__inner {
    width: auto;
  }

  .products-main__title {
    font-size: 33px;
    line-height: 42px;
  }

  .products-main__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  }
}

.products-main__text {
  gap: 25px;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.products-table {
  margin-bottom: 175px;
}

.products-table__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 170px;
}

.products__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 53px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  border-bottom: 4px solid white;
}

.products__table {
  width: 876px;
  padding-bottom: 55px;
  border-bottom: 4px solid white;
}

.products__column-inner {
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 55px;
}

.products__row {
  display: flex;
  gap: 150px;
}

.prod {
  width: 310px;
  display: flex;
  flex-direction: column;
}

.prod p:nth-child(2) {
  font-family: "Mulish";
  font-weight: 900;
  line-height: 28px;
}

.prod__desc {
  width: 377px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 415px) {
  .prod__desc {
    width: 300px;
  }
}

.milk,
.prods,
.herb,
.alpro,
.diferent,
.leaf,
.easy,
.energy {
  position: relative;
}

.milk::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaf.png);
  width: 170.09px;
  height: 204.13px;
  right: -164px;
  top: -110px;
}

.prods::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/prods.png);
  width: 296.04px;
  height: 631px;
  right: -290px;
  bottom: 0;
}

.milk::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/de-olio.png);
  width: 385.45px;
  height: 385.45px;
  right: -324px;
  bottom: -310px;
}

.herb::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaves_3.png);
  width: 916.84px;
  height: 692.89px;
  right: -392px;
  bottom: -270px;
  z-index: 10;
}

.herb::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/HiBalls.png);
  width: 231px;
  height: 322px;
  right: -290px;
  bottom: 0;
  z-index: 20;
}

.alpro::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaf2.png);
  width: 302px;
  height: 270.26px;
  bottom: -39px;
  left: -49px;
}

.alpro::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/tetrapak.png);
  width: 283px;
  height: 631px;
  bottom: -239px;
  right: -400px;
}

.easy::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/easy-base.png);
  width: 390px;
  height: 302px;
  bottom: 100px;
  right: -350px;
}

.energy::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/energy.png);
  width: 430.92px;
  height: 723.29px;
  bottom: -730px;
  right: -350px;
}

.diferent::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/plate.png);
  width: 312.54px;
  height: 584.57px;
  bottom: -639px;
  right: -350px;
}

.leaf::before {
  position: absolute;
  content: "";
  background-image: url(../assets/images/leaf-add.png);
  width: 174.09px;
  height: 204.13px;
  left: -165px;
  bottom: -120px;
}

@media (max-width: 1330px) {
  .products__table {
    width: 676px;
  }

  .products__row {
    gap: 70px;
  }
}

@media (max-width: 1190px) {
  .milk::after,
  .milk::before,
  .prods::after,
  .herb::after,
  .herb::before,
  .alpro::after,
  .diferent::after,
  .leaf::after,
  .easy::after {
    right: -272px;
  }

  .energy::after {
    right: -315px;
  }
}

@media (max-width: 1050px) {
  .milk::after,
  .milk::before,
  .prods::after,
  .herb::after,
  .herb::before,
  .alpro::after,
  .diferent::after,
  .leaf::after,
  .easy::after,
  .energy::after {
    display: none;
  }

  .products__table {
    width: 100%;
  }
}

@media (max-width: 725px) {
  .products-table__inner {
    gap: 70px;
  }
}

@media (max-width: 677px) {
  .products__row {
    gap: 30px;
  }
}

@media (max-width: 586px) {
  .products__row {
    font-size: 20px;
    line-height: 27px;
  }
}

.products__mobile {
  color: white;
  display: none;
  margin-bottom: 110px;
}

@media (max-width: 390px) {
  .products-table {
    display: none;
  }

  .products__mobile {
    display: block;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
}

.products__link {
  background-color: transparent;
  background-image: url(../assets/images/str.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  border: none;
  margin: 0;
  padding: 15px 10px 10px 10px;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 28px;
  line-height: 37px;
  color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.products__sub-item {
  margin-top: 20px;
}

.products__item-wrap {
  display: flex;
  justify-content: flex-start;
}

.products__sub {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.products__sub-item {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.products__sub-name {
  flex: 1;
}

.products__sub-desc {
  font-size: 18px;
}

.products__sub-value {
  font-weight: 900;
}

.hidden {
  display: none !important;
}

@media (max-width: 390px) {
  .header__inner {
    padding-top: 10px;
    margin-bottom: 0;
  }

  .header__main {
    padding-top: 35px;
  }

  .header__logo img {
    height: 41px;
    width: 41px;
  }

  .header__menu,
  .header__menu-img img {
    width: 44px;
    height: 32px;
  }

  .header__menu-img {
    width: 45px;
  }

  .products-main {
    margin-top: 50px;
  }

  .products-main__inner::before {
    bottom: 0;
  }
}
