/* font-family: 'Manrope', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-Black.woff) format('woff');
    src: url(../assets/fonts/Nunito-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-Bold.woff) format('woff');
    src: url(../assets/fonts/Nunito-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-BoldItalic.woff) format('woff');
    src: url(../assets/fonts/Nunito-BoldItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-ExtraBold.woff) format('woff');
    src: url(../assets/fonts/Nunito-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-ExtraBoldItalic.woff) format('woff');
    src: url(../assets/fonts/Nunito-ExtraBoldItalic.woff2) format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-Regular.woff) format('woff');
    src: url(../assets/fonts/Nunito-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nunito-SemiBold.woff) format('woff');
    src: url(../assets/fonts/Nunito-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(../assets/fonts/Mulish-Black.woff) format('woff');
    src: url(../assets/fonts/Mulish-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(../assets/fonts/Mulish-ExtraBold.woff) format('woff');
    src: url(../assets/fonts/Mulish-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url(../assets/fonts/Mulish-SemiBold.woff) format('woff');
    src: url(../assets/fonts/Mulish-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url(../assets/fonts/Manrope-Bold.woff) format('woff');
    src: url(../assets/fonts/Manrope-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url(../assets/fonts/Manrope-Medium.woff) format('woff');
    src: url(../assets/fonts/Manrope-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url(../assets/fonts/Manrope-SemiBold.woff) format('woff');
    src: url(../assets/fonts/Manrope-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Black.woff) format('woff');
    src: url(../assets/fonts/Roboto-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Bold.woff) format('woff');
    src: url(../assets/fonts/Roboto-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.woff) format('woff');
    src: url(../assets/fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,
body {
    min-height: 100%;
    overflow: overlay;
}

body::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #CDFFFF80;
    border-radius: .4rem;
    border: .2rem solid #CDFFFF;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #9E3CFF;
}

body {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #0D1288;
    background: linear-gradient(180deg, #5400DC 2.65%, #9E3CFF 11.11%, #79CFFF 20.31%, #CDFFFF 32.29%, #FFFFFF 39.24%, #CDFFFF 50%, #79CFFF 59.19%, #9E3CFF 69.06%, #5400DC 86.98%) no-repeat;
}

.wrapper,
.wrapper-prod {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper-prod {
    background-image: url(../assets/images/background-prod.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container,
.promo__container,
.about__container,
.products__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-right: 35px;
}

.request__inner {
    padding: 125px 0;
    position: relative;
}

.request__title {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 39px;
    line-height: 53px;
    text-transform: uppercase;
    color: #0D1288;
}

.request__title::before {
    position: absolute;
    content: '';
    background-image: url(../assets/images/leaves.png);
    width: 823px;
    height: 278px;
    top: 0;
    right: 0;
}

.footer {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #D9B3DC;
}

.footer__logo {
    padding-right: 65px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 15px 15px 65px 15px;

}

.footer__main {
    display: flex;
    gap: 100px;
    flex: 1;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
    width: 210px;
}

.footer__copy {
    display: flex;
    align-items: end;
}

.promo__container,
.about__container {
    position: relative;
}

.promo__inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 150px;
    gap: 30px;
}

.promo__content {
    color: #FFFEFE;
    text-align: left;
    letter-spacing: 0em;
}

.promo__title {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 51px;
    line-height: 47px;
    margin-bottom: 25px;
}

.promo__subtitle {
    font-family: Nunito;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 27px;
}

.promo__text,
.first,
.second {
    width: 455px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 25px;
}

.promo__btn {
    height: 63px;
    width: 264px;
    border-radius: 49px;
    background: #4A2CFF;
    border: #4A2CFF;
    box-shadow: 0px 4px 19px 4px rgba(255, 255, 255, 0.4);
    margin: 25px 0;
}

.promo__btn:hover {
    cursor: pointer;
    box-shadow: 2px 8px 38px 8px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.promo__btn-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__leafs {
    position: relative;
}
.leaf16 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/pic-16.png);
    width: 170px;
    height: 200px;
    top: -50px;
}
.leaf68 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/68.png);
    width: 150px;
    height: 120px;
    top: 120px;
    left: -100px;
}
.leaf65 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/65.png);
    width: 100px;
    height: 125px;
    bottom: 170px;
}
.leaf12 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/pic-12.png);
    width: 290px;
    height: 180px;
    top: 450px;
    left: -80px;
}

.promo__img {
    position: relative;
}
.promo-jar {
    position: absolute;
    content: '';
    background-image: url(../assets/images/promo-jar.png);
    width: 180px;
    height: 288px;
    transform: rotate(4.65deg);
    left: 200px;
}
.promo-flower {
}

.about__title {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 39px;
    line-height: 53px;
    text-transform: uppercase;
    color: #0D1288;
    margin-bottom: 46px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 146px;
    gap: 70px;
}

.about__content {
    width: 47%;
}

.about__points {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 52px 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 106%;
    color: #0D1288;
}

.about__count {
    width: 45%;
}

.about__count-info {
    width: 100%;
}

.info {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 53px;
    color: #647BFF;
}

.info:first-child {
    margin-top: -20px;
}

.info:last-child {
    text-align: end;
    margin-top: 10px;
}

.about__count-data {}

.about__count-sum {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 215px;
    line-height: 90.7%;
    background: linear-gradient(165.95deg, #34AAFF 38.97%, #CF10FF 102.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    text-shadow: 4px 1px 18px rgba(255, 255, 255, 0.16);
    z-index: 1;
}

.about__img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -200px;
    z-index: 2;
}

.about__count-leaf61 {}

.about__count-ball53 {}

.about__count-ball51 {}

.about__count-fl72 {}

.about__application {
    width: 100%;
    height: 50px;
    margin: 30px auto;
    background: #DED3FC;
    border: 1px solid #DED3FC;
    border-radius: 29px;
}

.about__application-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 132.7%;
    color: #4A2CFF;
}

.about__leafs {
    display: flex;
}
.leaf-15 {
}
.leaf-64 {
}
.leaf-11 {
}

.details {
    
}

.details__inner {
    position: relative;
    display: flex;
    margin-bottom: 140px;
    justify-content: space-between;
}
.details__left {
    width: 546px;
    height: 330px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 27px;
    padding: 35px 120px 0px 40px;
}
.details__right {
    width: 546px;
    height: 295px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 27px;
    padding: 30px 30px 0px 50px;
}
.details__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 53px;
    color: #0D1288;
    margin-bottom: 20px;
}
.details__text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #0D1288;
}
.details__btn {
    width: 264px;
    height: 63px;
    background: #9100B5;
    box-shadow: 0px 4px 19px 4px rgba(255, 255, 255, 0.36);
    border-radius: 49px;
    border: 1px solid #9100B5;
    margin-top: 20px;
    margin-left: 180px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    
}
.details__btn:hover {
    cursor: pointer;
    box-shadow: 2px 8px 38px 8px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.details__leafs {
    position: relative;
}

.leaf13 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/pic-13.png);
    width: 200px;
    height: 120px;
    right: 70px;
}
.leaf66 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/66.png);
    width: 100px;
    height: 125px;
    right: 120px;
    bottom: 30px;
}
.leaf14 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/pic-14.png);
    width: 95px;
    height: 155px;
    left: 430px;
}
.leaf18 {
    position: absolute;
    content: '';
    background-image: url(../assets/images/pic-18.png);
    width: 200px;
    height: 170px;
    top: 270px;
}


.products__container {
    position: relative;
    color: #FFFFFF;
}

.products-main__inner,
.products-main__text {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

.products-main__inner {
    gap: 30px;
    width: 535px;
    padding-top: 75px;
    padding-bottom: 170px;
}

.products-main__inner::after {
    position: absolute;
    content: '';
    background-image: url(../assets/images/products-bg.png);
    width: 735px;
    height: 750px;
    right: 0;
    top: -50px;
}

.products-main__title {
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 51px;
    line-height: 58px;
}

.products-main__text {
    gap: 25px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.products-table {
    margin-bottom: 175px;
}

.products-table__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 170px;
}

.products__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 53px;
    padding-bottom: 25px;
    margin-bottom: 85px;
    border-bottom: 4px solid white;
}

.products__table {
    width: 876px;
    padding-bottom: 55px;
    border-bottom: 4px solid white;
}

.products__column-inner {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 55px;
}

.products__row {
    display: flex;
    gap: 150px;
}

.prod {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.prod p:nth-child(2) {
    font-family: 'Mulish';
    font-weight: 900;
    line-height: 28px;
}

.prod__desc {
    width: 377px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.milk,
.alpro,
.diferent,
.leaf,
.energy {
    position: relative;
}

.milk::after {
    position: absolute;
    content: '';
    background-image: url(../assets/images/leaf.png);
    width: 170.09px;
    height: 204.13px;
    right: -164px;
    top: -110px;
}

.milk::before {
    position: absolute;
    content: '';
    background-image: url(../assets/images/de-olio.png);
    width: 385.45px;
    height: 385.45px;
    right: -324px;
    bottom: -310px;
}

.alpro::before {
    position: absolute;
    content: '';
    background-image: url(../assets/images/leaf2.png);
    width: 302px;
    height: 270.26px;
    bottom: -39px;
    left: -49px;
}

.alpro::after {
    position: absolute;
    content: '';
    background-image: url(../assets/images/tetrapak.png);
    width: 283px;
    height: 631px;
    bottom: -239px;
    right: -400px;
}

.energy::after {
    position: absolute;
    content: '';
    background-image: url(../assets/images/energy.png);
    width: 430.92px;
    height: 723.29px;
    bottom: -730px;
    right: -350px;
}

.diferent::after {
    position: absolute;
    content: '';
    background-image: url(../assets/images/plate.png);
    width: 312.54px;
    height: 584.57px;
    bottom: -639px;
    right: -350px;
}

.leaf::before {
    position: absolute;
    content: '';
    background-image: url(../assets/images/leaf-add.png);
    width: 174.09px;
    height: 204.13px;
    left: -165px;
    bottom: -120px
}